@font-face {
  font-family: 'Titillium';
  src: url('../assets/fonts/Titillium-Light.woff'), format('woff');
  src: url('../assets/fonts/Titillium-Light.ttf'), format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Titillium';
  src: url('../assets/fonts/Titillium-Regular.woff'), format('woff');
  src: url('../assets/fonts/Titillium-Regular.ttf'), format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('../assets/fonts/Titillium-Bold.woff'), format('woff');
  src: url('../assets/fonts/Titillium-Bold.ttf'), format('truetype');
  font-weight: 700;
}
