@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/normalize.css/normalize.css';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bs-secondary);
}
