.bg-animation {
  animation: bg-animation 25s ease-in-out infinite;
  text-align: center;
  background-image: url('../../../assets/image/light-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

@media (max-width: 620px) {
  .bg-animation {
    padding: 100px 20px;
    font-size: 26px;
  }
}
@keyframes bg-animation {
  0% {
    background-size: 120%;
    background-position: 50% 50%;
  }
  20% {
    background-size: 150%;
    background-position: 0 50%;
  }
  40% {
    background-size: 110%;
    background-position: 20% 80%;
  }
  60% {
    background-size: 160%;
    background-position: 60% 10%;
  }
  80% {
    background-size: 120%;
    background-position: 40% 70%;
  }
  100% {
    background-size: 120%;
    background-position: 50% 50%;
  }
}
