.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  padding: 1rem;
  &_logo {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 20%;
  }
  &_link {
    text-decoration: none;
    margin-right: 1rem;
  }
  &_dev{
    display: flex;
  }
}
