.form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  &-control {
    color: black;
    &::placeholder {
      color: black;
    }
  }
  &-name{
    margin-bottom: 5rem;
  }
}

.label-password {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.label-name {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
